<header>
  <h1>Search for your favourite artist or band below to see their albums!</h1>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <input type="text" placeholder="Search for you favourite musician" formControlName="searchText" required minlength="1" />
    <button mat-raised-button	color="primary" type="submit" [disabled]="searchForm.invalid">Search</button>
  </form> 
</header>

<div class="loader" *ngIf="!error && loading">
  <img src="https://i.gifer.com/ZZ5H.gif" />
</div>

<div *ngIf="error">
  Error :(
</div>

<div *ngIf="!error">
  <app-albums></app-albums>
</div>