<main *ngIf="artist">
    
    <h2>{{artist.name}}</h2>

    <table mat-table [dataSource]="cleanData(artist.releases.edges)" class="mat-elevation-z8">
        <!-- Cover Column -->
        <ng-container matColumnDef="cover">
        <th mat-header-cell *matHeaderCellDef> Cover </th>
        <td mat-cell *matCellDef="let release"> <img src="{{release.node.coverArtArchive.front}}" /> </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let release"> {{release.node.title}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let release"> {{release.node.date}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let release"> {{release.node.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</main>